{%extends "site_base.html" %}
{% block title %}Orla UDC: Lista de Votacións{% endblock %}
{% block content %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="messages">
{% for message in messages %}
<div{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
<button type="button" class="close" data-dismiss="alert">&times;</button>
{{ message }}</li>
</div>
{% endfor %}
</div>


{% if latest_poll_list %}
	<ul>
	{% for poll in latest_poll_list %}
		<li>
			{% if poll.is_active %}
			<a href="{% url "polls:detail" poll.id %}">
				{{ poll.question }}
			</a>
			{% else %}
			<a href="#" class="muted">
				{{ poll.question }}
			</a> (Votacións desactivadas)
			{% endif %}

			{% if perms.polls.vote_count %}
			Usuarios que votaron: {{ poll.get_voted_users }}
			{% endif %}

			{% if perms.polls.poll_results %}
			--
			<a href="{% url "polls:results" poll.id %}">
				(Ver resultados)
			</a>
			{% endif %}
		</li>
	{% endfor %}
	</ul>

{% else %}

<p>Non hai encuestas activas neste momento.</p>

{% endif %}

{% endblock %}
